{% extends 'main_app/base.html' %} {% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'main_app/city.css' %}">
  <title>{{ city }} погода</title>
{% endblock %}

{% block body %}
  {% if error %}
    <div class="error">
      {{ error }}
    </div>
  {% else %}
    <div class="weather-container">
      <h2>Погода сегодня в городе {{ city }}</h2>
      <div class="weather-info">
        <div class="temperature">Температура: {{ main.temp }}°C</div>
        <div class="feels-like">Ощущается как: {{ main.feels_like }}°C</div>
        <div class="pressure">Давление: {{ main.pressure }} hPa</div>
        <div class="humidity">Влажность: {{ main.humidity }}%</div>
        <div class="weather-type">Тип погоды: {{ weather_type }}</div>
        <div class="wind">Ветер: {{ wind_speed }} м/с, {{ wind_direction }} направление</div>
      </div>
    </div>
  {% endif %}
{% endblock %}
