body {
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.weather-container {
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 40vh;
    width: 50vw;
}

.weather-info {
    text-align: center;
}

.temperature, .feels-like, .pressure, .humidity, .weather-type, .wind {
    margin-bottom: 2vh;
    text-align: center;

}
