body {
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    font-family: Arial, sans-serif;
    font-size: medium;
    font-weight: bolder;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    max-width: 300px;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    align-self: center;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    align-self: center;
}
